.page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

.card  {
    text-align: center;
    background-color: #181818;
    padding: 32px;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    width: 700px;
    height: 200px;
    color: white;
    transition: border-color 0.2s ease;
    box-shadow: 0px 0px 10px rgb(120, 120, 120, 0.2);
}

.card:hover {
    border-color: rgba(255, 255, 255, 0.2);
}

.title {
    font-size: 2rem;
    margin-bottom: 10px;
    border-bottom: 1px solid #ffffff2d;
    padding-bottom: 8px;
}

.subtitle {
    color: #bbbbbb;
    font-size: 1.4rem;
    line-height: 1.4;
    text-align: left;
}
