.transactions {
    min-height: 100vh;
    padding: 24px;
    padding-bottom: 0px;
}


.header {
    background-color: #181818;
    text-align: center;
    padding: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    max-width: 400px;
    margin: 50px  auto;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 10px rgb(163, 147, 147);
    transition: border-color 0.2s ease;
}

.header:hover {
    border-color: rgba(255, 255, 255, 0.2);
}

.header h1 {
    color: #ffffff;
    font-size: 2rem;
}

.card {
    background-color: #181818;
    text-align: center;
    padding: 24px;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    max-width: 90%;
    margin: auto;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: border-color 0.2s ease;
}

.card h3 {
    color: #ffffff;
    font-size: 16px;
}

.card:hover {
    border-color: rgba(255, 255, 255, 0.2);
}


.transactionText{
    color: #ffffff;
    font-size: 24px;
    margin: 10px auto;
    text-align: right;
    justify-content: right;
}
