.navbar{
    background-color: #0a0a0a;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #ffffff2d;
}

.text{
    color: #e5e5e5;
    display: flex;
    align-items: center; 
    margin-left: 10px;
}

